* {
    margin: 0;
    padding: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding-right: 120px;
    padding-left: 120px;
    padding-top: 15px;
    align-items: center;
}

.nav-ul {
    display: flex;
    gap: 41px;
    font-size: 21px;
    font-family: math;

}

.nav-ul li {
    list-style-type: none;
}

.nav-last-div p {
    font-size: 21px;
    margin: 0;
}

.nav-last-div h4 {
    font-size: 40px;
    margin: 0;
    color: #475A81;
}

.mobile-nav-ul {
    display: none;
}


.ham {
    display: none;
}

.mobile-nav-ul {
    display: none;
}

main{
    background-color: #f5f5f5;
}

/* hero section css */


.hero {
    background-image: url('./Group\ 10.jpg');
    height: 67vh;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-fist-div {
    position: relative;
    top: 20%;
    /* left: 6%; */
    padding-left: 80px;
    width: fit-content;

}

.hero-fist-div h2 {
    font-size: 80px;
    color: white;
    /* width: 48%; */
    word-wrap: break-word;
    white-space: pre-line;
}

.hero-fist-div p {
    color: white;
    font-size: 21px;
    font-family: math;
    margin: 25px 0px;
}

.hero-fist-div button {
    padding: 19px 32px;
    background: #ffa647;
    width: 228px;
    border-radius: 28px;
    color: white;
    font-size: 20px;
    border: none;
}
.cross{
    display: none;
    z-index: 10;
    font-size: 30px;
}

.section-3{
    margin: auto;
    max-width: 1365px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
}
.section-3-first-div{
    display: flex
;
    align-items: center;
    gap: 52px;
    padding-bottom: 50px;
}
.section-3-first-div h3{
    font-size: 18px;
    line-height: 48px;
    font-weight: 700;
    font-family: math;
}
.line{
    height: 1px;
    width: 100%;
    background-color: rgb(29, 29, 29);
}
.section-3-second-div{
    display: flex
    ;
        /* align-items: center; */
        margin: auto;
        max-width: 1365px;
        gap: 72px;
}
.section-3-second-div img{
    width: 600px;
    height: 342px;
}
.section-3-second-div h2{
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
    font-family: sans-serif;
}
.section-3-second-div p{
    font-size: 20px;
    font-family: sans-serif;
    line-height: 30px;
    font-weight: 400;
    padding: 25px 0px;
}
.section-3-second-div button{
    font-weight: 400;
    font-family: sans-serif;
    font-size: 19px;
    line-height: 30px;
    width: 333px;
    height: 71px;
    background: #252525;
    border-radius: 38px;
    color: white;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    background-color: #f4f4f4;
    margin-top: 100px;
}

/* Individual card */
.card {
    height: 440px;
    width: 440px;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-content {
    display: flex
    ;
        flex-direction: column;
        height: 50%;
        justify-content: space-between;
    padding: 15px;
}

.card-content h3 {
    font-weight: 700;
    font-size: 24px;
    color: #1A1D24;
    line-height: 30px;
    font-family: math;
    margin-bottom: 10px;
}

.card-content p {
    color: #6A6A6A;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 15px;
}

.btn {
    display: inline-block;
    background: #475A81;
    width: 66px;
    /* height: 21px; */
    padding: 10px 12px;
    color: white;
    text-decoration: none;
    border-radius: 23px;
    font-size: 16px;
    transition: background 0.3sease;
}

.btn:hover {
    background: #444;
}


@media only screen and (max-width: 1300px) {
    .nav {
        padding-left: 40px;
        padding-right: 40px;
    }

    .nav-first-div img {
        width: 68%;
    }

    .nav-last-div h4 {
        font-size: 34px;
    }

    .nav-ul {
        gap: 25px;
        font-size: 19px;
    }
    .section-3-second-div{
        gap: 52px;
    }
    .section-3-second-div img {
        width: 500px;
        height: 342px;
    }
    .section-3-second-div p {
        font-size: 20px;
        line-height: 30px;
        padding: 18px 0px;
    }
    .section-3-second-div button{
        width: 298px;
    height: 63px;
    }
    .container{
        flex-wrap: wrap;
        /* justify-content: unset; */
        gap: 70px;
    }
    
}


@media only screen and (max-width: 990px) {
    .nav-last-div {
        display: none;
    }

    .nav-first-div img {
        width: 62%;
    }

    .nav-ul {
        gap: 20px;
    }

    .hero-fist-div {
        padding-left: 40px;
    }

    .hero-fist-div h2 {
        font-size: 60px !important;
    }
    .section-3{
        max-width: 700px;
    }
    .section-3-second-div{
        flex-direction: column;
    }
    .section-3-second-div img{
        width: 100%;
    }
    .card{
        width: 100%;
    }
  
}

@media only screen and (max-width: 762px) {

    .nav-ul {
        display: none;
    }

    .ham {
        display: block;
        z-index: 100;
    }

    .ham img {
        height: 22px;
        width: 37px;
        cursor: pointer;
    }

    .nav {
        padding-left: 12px;
        padding-right: 12px;
    }

    .mobile-nav-ul ul {
        height: 100vh;
        position: absolute;
        background: #5756565e;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 7;
    }

    .mobile-ul {
        background: white;
        width: 55%;
        height: 100%;
        z-index: 100;
    }

    .mobile-logo {
        padding-top: 50px;
        margin-bottom: 52px;
        text-align: center;
    }

    .mobile-logo img {
        width: 51%;
    }

    .lis {
        /* padding-left: 23px; */
        margin: 0px auto;
        width: fit-content;
    }
    
    .lis li {
        /* list-style-type: none; */
        list-style-type: none;
        font-size: 18px;
        font-family: math;
        padding: 20px 0px;
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .hero-fist-div {
        padding-left: 20px;
        top: 14%;
    }

    .hero-fist-div h2 {
        font-size: 50px !important;
        font-family: sans-serif !important;
        line-height: 70px;
    }

    .hero-fist-div p {
        font-size: 20px;
        width: 80%;
        line-height: 32px;
    }
    .section-3{
        max-width: 480px;
    }
    .section-3-second-div p{
        font-size: 18px;
        line-height: 28px;
    }

}

@media only screen and (max-width: 480px) {
    .hero-fist-div{
        top: 17%;
        padding-left: 0px;
        padding: 0px 8px;
        display: flex
        ;
                flex-direction: column;
                justify-content: center;
                align-items: center;
    }

    .hero-fist-div h2{
        font-size: 36px !important;
        line-height: 50px;
        text-align: center;
    }
    .hero-fist-div p{
        font-size: 17px;
        width: 100%;
        line-height: 27px;
        text-align: center;
    }
    .hero-fist-div button{
        padding: 14px 26px;
        width: 208px;
        font-size: 17px;
    }
    .section-3{
        padding-left: 20px;
        padding-right: 20px;

    }
    .section-3-first-div{
        gap: 10px;
    }
    .section-3-second-div{
        gap: 35px;
    }
    .section-3-second-div img{
        height: 290px;
    }
    .section-3-second-div h2{
font-size: 27px;
line-height: 33px;
    }
    .section-3-second-div button{
        width: 196px;
        height: 48px;
        font-size: 16px;
    }
}